@import url('https://fonts.googleapis.com/css2?family=Tilt+Prism&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.navbar li a {
    text-decoration: none;
}

.container {
    max-width: 85vw;
}

.contactus {
    max-width: 50px;
}

.navbar li {
    list-style: none;
    margin: 0px 13px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar li a:hover {
    color: seagreen;
    /* text-decoration: underline; */
}

.navbar {
    display: flex;
    height: 55px;
    /* background-color: green; */
}

.btn{
    background-color: greenyellow;
    font-size: 1rem;
    padding: 5px 6px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 14px;
    cursor: pointer;
}
.btn:hover{
    background-color: seagreen;
    /* border: gray; */
    color: whitesmoke;
}

.sec1 .flex h1 {
    font-family: 'Times New Roman', Times, serif;
    /* color: black; */
    /* font-weight: 900; */
}

.flex p {
    font-size: 23px;
}

.myimg {
    height: 200px;
    width: 200px;
    margin: 0px 40px;
}
li{
    line-height: 26px;
}
.myheading {
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 121, 11, 1) 32%, rgba(0, 212, 255, 1) 100%);
    font-family: 'Climate Crisis', cursive;
    text-align: center;
    color: whitesmoke;
    font-weight: bold;
    border-radius: 30px;
}

.sec3 ul li {
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 6px;
}

form {
    margin: 40px;
}

.input-field {
    width: 410px;
    height: 35px;
    margin-top: 3px;
    border: 1px solid skyblue;
    border-radius: 12px;
}

.text-area {
    width: 410px;
    height: 55px;
    margin-top: 3px;
    border: 1px solid skyblue;
    border-radius: 6px;
}

.btnsubmit {
    width: 160px;
    height: 30px;
    margin: 5px 70px;
    background-color: skyblue;
    border-radius: 16px;
    font-weight: bold;
    cursor: pointer;
    letter-spacing: 2px;
    font-family: Climate Crisis', cursive;

}

.btnsubmit:hover {
    border-color: gray;
    background-color: aqua;
    color: black;

    font-weight: 600;
}
i {
    text-align: center;
    margin: 8px 12px;
    font-size: 18px;
    /* background-color: blue; */
}
form{
    font-size: 20px;
}
input{
    margin: 10px 0;
    width: 100%;
    padding: 8px;
}7
